
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="row">
    <form id="frm">
        <div class="col-lg-6 col-lg-offset-3 loginForm">
            <label>Usuario</label>
            <input type="text" name="user" placeholder="Usuario" />
            <label>Contraseña</label>
            <input class="" type="password" placeholder="Contraseña" name="password" />

            <input type="submit" class="btn btn-success btnScale font" value="Entrar" />

        </div>
        <a class="modoNocturnos"><i id="modoNocturno" class="far fa-moon"></i></a>
    </form>
</div>





@section scripts {


    <script>
        $(document).ready(function () {
            $("#frm").submit(function (e) {
                e.preventDefault();
                url = "@Url.Content("~/Access/Enter")"// metodo para rutear
                parametros = $(this).serialize();

                $.post(url, parametros, function (data) {

                    if (data == "1") {
                        document.location.href = "@Url.Content("~/")";
                    } else {
                        alert(data);
                    }
                })
            })
        })
    </script>

}